/chrome
/.envrc
/dist
/dom
/vdom

# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# external packages folder
vendor/

# Binary created by delve
debug

# Log files
**/*.log

# vendor backups by dep
vendor.orig
_vendor-*
